<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="22.8.0" targetFramework="net472" />
  <package id="IronPdf" version="2022.8.8818" targetFramework="net472" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.9.8626" targetFramework="net472" />
  <package id="IronPdf.Slim" version="2022.8.8818" targetFramework="net472" />
</packages>